/************************/
/* Nav                  */
/************************/

nav {
    background-color: #e9804e;
}

/************************/
/* Intro                */
/************************/

#intro {
    background-color: #e9804e;
}

.subtitle {
    color: #e9c8b9;
}

.sec_title {
    color: #e9c8b9;
}

@media only screen and (min-width: 961px) {
    .slider {
        width: 45%;
    }
}
