<style>
/* http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
		*/
		
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		body {
			background-color: #f0f0f0;
			font-family: Helvetica, Verdana, sans-serif;
			color: #0f0f0f;
		}
		a {
			text-decoration: none;
			color: #0f0f0f;
		}
		#topBar {
			height: 46px;
		}
		#name {
			position: relative;
			float: left;
			margin: 0 10px;
			top: 8px;
			font-size: 20px;
			font-weight: bold;
		}
		.pageLink {
			position: relative;
			float: left;
			padding: 0 10px;
			top: 8px;
			font-size: 20px;
			font-weight: bold;
			border-left: 2px solid #c0c0c0;
        }
        li.pageLink a {
            color: #606060;
        }
        li.pageLink a:hover {
            color: #0f0f0f;
        }
		#colorBar {
			clear: both;
			height: 3px;
			width: 100%;
			/*background-color: #5b2c6f;*/
			margin: 0 auto;
			background: #4739a3; /* Old browsers */
			background: -moz-linear-gradient(-45deg, #4739a3 0%, #cc61c8 67%, #9b449a 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, #4739a3 0%,#cc61c8 67%,#9b449a 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, #4739a3 0%,#cc61c8 67%,#9b449a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4739a3', endColorstr='#9b449a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
		#aboutMe {
			padding-bottom: 10px;
			float: left;
			width: 33%;
			background-color: #d0d0d0;
		}
		#newContent {
			float: right;
			width: 67%;
			background-color: #303030;
			color: #f0f0f0;
		}
		.sectionTitle {
			margin: 10px;
			font-size: 20px;
			font-weight: bold;
		}
        #pageTitle.pageLink a {
            color: #0f0f0f;
			border-bottom: 2px solid #bb8fce;
        }
		.section {
			margin: 0 10px;
		}
		img {
			display: block;
			height: 300px;
			margin: 10px auto;
		}
</style>
