/* http://meyerweb.com/eric/tools/css/reset/
		v2.0 | 20110126
		License: none (public domain)
		*/

		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed,
		figure, figcaption, footer, header, hgroup,
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure,
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		body {
			background-color: #ffffff;
			font-family: "Lato", "Open Sans", sans-serif;
			color: #0f0f0f;
		}
		a {
			text-decoration: none;
			color: #0f0f0f;
		}
		.navbar-brand {

		}
		#topBar {
			height: 46px;
		}
		#name {
			position: relative;
			float: left;
			margin: 0 10px;
			top: 14px;
			font-size: 18px;
			font-weight: bold;
		}
		.pageLink {
			position: relative;
			float: left;
			padding: 0 10px;
			top: 14px;
			font-size: 18px;
			font-weight: bold;
			border-left: 2px solid #c0c0c0;
        }
        li.pageLink a {
            color: #606060;
        }
        li.pageLink a:hover {
            color: #0f0f0f;
        }
		#colorBar {
			clear: both;
			height: 3px;
			width: 100%;
			background-color: #5b2c6f;
			margin: 0 auto;
        }
		#aboutMe {
			padding-bottom: 10px;
			float: left;
			width: 33%;
			background-color: #d0d0d0;
		}
		#newContent {
			float: right;
			width: 67%;
			background-color: #303030;
			color: #f0f0f0;
		}
		.sectionTitle {
			margin-top: 10px;
            margin-left: 10px;
			margin-bottom: 0;
            font-size: 14px;
			font-weight: bold;
		}
        #pageTitle.pageLink a {
            color: #0f0f0f;
        }
		.section {
            font-size: 14px;
            line-height: 17px;
			margin: 0 10px;
            margin-top: 2px;
		}
		.thumbnail {
			display: inline-block;
			height: 200px;
			width: 200px;
			margin: 10px 0 0 10px;
		}
		.thumbnail:hover {
			background-color: #000000;
		}
		img:hover {
				background-color: #909090;
		}
		.navbar-brand {
			font-size: 16px;
		}
		.nav-item {
			font-size: 16px;
		}
		#bg-test {
			background-color: #ffffff;
		}
		#projectName {
			font-size: 20px;
			padding: 20px;
		}
		.projectPic {
			height: 300px;
		}
