/************************/
/*  Header              */
/************************/

nav {
    background-color: #294398;
}

/************************/
/* Intro                */
/************************/

#intro {
    background-color: #294398;
}

.subtitle {
    color: #8492f3;
}

.sec_title {
    color: #8492f3;
}


.book_layout {
    width: 100%;
    height: 100%;
}

.final_proj_img {
    box-shadow: 0 0 8px 8px #294398 inset;
}

@media only screen and (min-width: 961px) {
    .final_proj_img {
        width: 50%;
    }
}
