/************************/
/*  Header              */
/************************/

nav {
    background-color: #3fa7ea;
}

/************************/
/* Intro                */
/************************/

#intro {
    background-color: #3fa7ea;
}

.subtitle {
    color: #acd2ea;
}

.sec_title {
    color: #acd2ea;
}
